<%- include('../partials/header') -%>

<div class="col-10">
  <%- include('../partials/messages') -%>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">SKU</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% product.forEach((prod)=>{ %> <% if(prod.oldstock === "In stock"){ %>
      <tr class="bg-success">
        <th scope="row"><%= prod.sku %></th>
        <td><%= prod.title %></td>
        <td><%= prod.newprice %></td>
        <td><%= prod.newstock %></td>

        <td>
          <a href="<%= prod.url%>" target="<%= prod.url%>" class="btn btn-primary">View</a>
          <form action="/products/outofstock/delete/<%= prod.id  %>?_method=DELETE" style="display: inline" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" style="cursor: pointer" class="btn btn-danger">DELETE</button>
          </form>
        </td>
      </tr>
      <% }else{ %>
      <tr>
        <th scope="row"><%= prod.sku %></th>
        <td><%= prod.title %></td>
        <td><%= prod.newprice %></td>
        <td><%= prod.newstock %></td>

        <td>
          <a href="<%= prod.url%>" target="<%= prod.url%>" class="btn btn-primary">View</a>
          <form action="/products/instock/delete/<%= prod.id  %>?_method=DELETE" style="display: inline" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" style="cursor: pointer" class="btn btn-danger">DELETE</button>
          </form>
        </td>
      </tr>
      <%} %> <% })%>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') -%>
