<%- include('../partials/header') -%>
<div class="col-10">
  <div class="container">
    <h2>Add New Product</h2>

    <form action="/new/product" method="GET" class="text-center">
      <div class="col-10 offset-1 p-3">
        <div class="form-group">
          <input type="text" class="form-control" name="search" id="exampleInputEmail1" aria-describedby="emailHelp" />
        </div>
        <button type="submit" class="btn btn-success btn-lg">Search Product</button>
      </div>
    </form>

    <form action="/new/product" method="POST" class="text-center">
      <%- include('../partials/messages') -%>

      <div class="col-8 mt-5 pt-5 offset-2">
        <div class="form-group"><input type="text" class="form-control" name="url" placeholder="Product URL" value="<%=product.productURL%>" readonly required /></div>

        <div class="form-group"><input type="text" class="form-control" name="title" placeholder="Product Title" value="<%=product.title%>" readonly required /></div>

        <div class="form-group"><input type="text" class="form-control" name="price" placeholder="Product Price" value="<%=product.price%>" readonly required /></div>

        <div class="form-group"><input type="text" class="form-control" name="stock" placeholder="Product Stock" value="<%=product.stock%>" readonly required /></div>

        <div class="form-group"><input type="text" class="form-control" name="sku" placeholder="Enter Product SKU" required /></div>
        <button type="submit" class="btn btn-success btn-lg">Save Product</button>
      </div>
    </form>
  </div>
</div>

<%- include('../partials/footer') -%>
