<%- include('../partials/header') -%>

<div class="col-10">
  <div class="container">
    <h2>Search Product</h2>

    <form action="/product/search" method="GET" class="text-center">
      <div class="row">
        <div class="col-10">
          <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="Enter Product SKU" aria-describedby="emailHelp" />
          </div>
          <button type="submit" class="btn btn-success btn-lg">Search Product</button>
        </div>
      </div>
    </form>
    <%- include('../partials/messages') -%>

    <div class="col">
      <h4>Title: <b><%= product.title%></b></h4>
      <h4>Price: <b><%= product.newprice%></b></h4>
      <h4>Stock: <b><%= product.newstock%></b></h4>
      <h4>SKU: <b><%= product.sku%></b></h4>
      <h4>
        Link: <b><a target="<%= product.url%>" href="<%= product.url%>">View Product</a></b>
      </h4>
    </div>
  </div>
</div>

<%- include('../partials/footer') -%>
